@font-face {
    font-family: 'BebasNeue';
    src: url('../../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BebasNeue', system-ui, sans-serif;
  
}

.page-title {
    font-family: "BebasNeue";
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.navbar {
    background-color: #000000;
    padding: 12px 3%;
    font-family: 'BebasNeue', system-ui, sans-serif;


    .page-title {
        color: #df0000;
        ;
    }
    
}
