
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;


}

.page-title {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.navbar {
    background-color: #000000;
    padding: 12px 3%;


    .page-title {
        color: #df0000;
        ;
    }
    
}
